* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  font-family: "Open Sans", serif;
  color: #ffffff;
}

header {
  background-color: #1c1c1c;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #444444;
  position: fixed;
  top: 0;
  left: 0;
}

header img {
  width: 65px;
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 38px;
  padding: 12px;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #1c1c1c;
  cursor: pointer;
  border-radius: 2px;
}

main {
  background-color: #0a0a0a;
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
}

main #welcome {
  margin-top: 65px;
  width: 100%;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #welcome .welcome-word {
  font-size: 140px;
}
