* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  font-family: "Open Sans", serif;
  color: #ffffff;
}

header {
  background-color: #1c1c1c;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #444444;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header img {
  width: 65px;
  border-radius: 3px;
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 38px;
  padding: 12px;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #1c1c1c;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.4s;
}

main {
  background-color: #0a0a0a;
  color: #eaeaea;
  width: 80%;
  margin: 0 auto;
}

main #welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #welcome .welcome-word {
  font-size: 140px;
}

main #welcome .greeting {
  margin-top: -20px;
  font-size: 1.8em;
}

#my-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#my-profile img {
  width: 200px;
  margin-right: 40px;
  border-radius: 50%;
  border: 2px solid #000000;
  filter: grayscale(100%);
}

#my-profile img:hover {
  box-shadow: 0 0 5px 2px rgb(113, 113, 113);
  filter: none;
  transition: 0.3s;
}

#my-profile .caption {
  font-size: 1.2rem;
}

#my-profile .my-name {
  font-size: 3rem;
  font-weight: 800;
}

#my-profile #about-me {
  padding: 4px;
  font-size: 1.2rem;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
}

#my-profile #about-me:hover {
  box-shadow: 0 0 5px 2px rgb(113, 113, 113);

}



/* SLIDESHOW */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.image-slide {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background-color: #000000;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  left: 425px;
  width: 150px;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
